<article class="review">
    <header class="title">
        <div>
            <a href ="/reviews/{{id}}">{{animal_review.animal_name}}</a>
            <div>Post by: {{user.name}} on {{format_date created_at}}</div>
        </div> 
        <div class="content">
            <p>{{ animalreview.contents }}</p>
        </div>
    </header>
</article>