{{!-- <section>
    <a href="/dashboard">Return to Dashboard</a>
    <div>
       {{> review-info review}}  
    </div>

<form class="add-comment">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{> comments review.comments}} 

{{#if !photo}}
  <p>Upload a photo of your animal!</p>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
{{/if}}

{{#if photo}}
  {{#if (eq (typeof photo) 'object')}}
    <p>Information about the uploaded asset:</p>
    <pre>{{{json photo}}}</pre>
    <img src="{{photo.secure_url}}">
  {{/if}}
  {{#if (neq (typeof photo) 'object')}}
    <p>Your transformed image:</p>
    <img src="{{photo}}">
  {{/if}}
{{/if}}


<script src="/javascript/comment.js"></script> --}}

<div id="single-post" class="text-center">
  <h2 id="title">{{animal_name}}</h2>
  <p id="desc">{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <!-- Add a new comment -->
  <form id="add-comment" action="/api/comments" class ="new-comment-form" method="POST">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="comm-butt">Submit</button>
</div>
<script src="./js/comment.js"></script>