<h1> Welcome {{name}}</h1>

<section>
  <h2>Create New Animal Review!</h2>
  <form class="new-animal-review">
    <div>
      <label for="review-title">Post Title:</label>
      <input type="text" id="review-title" name="review-title" />
    </div>
    <div>
      <label for="review-text">Post Text:</label>
      <textarea id="review-text" name="review-text"></textarea>
    </div>
    {{#if photo}}
      {{#if (eq (typeof photo) "object")}}
        <p>Information about the uploaded asset:</p>
        <pre>{{{json photo}}}</pre>
        <img src="{{photo.secure_url}}" />
      {{/if}}
      {{#if (neq (typeof photo) "object")}}
        <p>Your transformed image:</p>
        <img src="{{photo}}" />
      {{/if}}
    {{else}}
      <p>Upload a photo of your animal!</p>
      <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    {{/if}}
    <button type="submit" class="button">Create Animal Review!</button>
  </form>
</section>

{{#if animalreviews}}
  <section>
    <h2>Your Reviews</h2>
    <ol>
      {{#each animalreviews as |AnimalReview|}}
        <article class="review">
          <header class="title">
            <div>
              <a href="/animalreview/{{id}}">{{AnimalReview.animal_name}}</a>
              <div>Post by:
                {{user.name}}
                on
                {{format_date AnimalReview.date_created}}</div>
            </div>
            <div class="content">
              <p>{{AnimalReview.contents}}</p>
            </div>
          </header>
        </article>
      {{/each}}
    </ol>
  </section>
{{/if}}

<script src="/js/add-review.js"></script>