<h1> testing 123</h1>

{{#each animals as |AnimalReview|}}
  <div class="row mb-4 post" id="post">
    <div class="col-md-5">
      <h2>

        <a
          href="/animalreview/{{AnimalReview.id}}"
        >{{AnimalReview.animal_name}}</a>
      </h2>
      <p>

      </p>
      <p>Created by
        {{AnimalReview.user.name}}
        on
        {{format_date AnimalReview.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{AnimalReview.description}}
      </p>
    </div>
  </div>
{{/each}}